body
  background #dbe2ef

p
  margin 0

.card
  margin 75px auto
  padding 0
  &-header 
    padding 0

.input
  margin 150px auto 0px
  padding 0
  &__box
    outline-color black

.filters
  padding 20px

.progress
  margin 0 auto
  padding 0
  height 7px
  background #ffffff00
  transition: 1s

.todo
  &__done
    background-color #daeacd

  &__modify
    border 0px
    outline #ffffff00
    background #ffffff00

.list
  margin 0 auto
  padding 20px
  &__todo
    display flex
    flex-flow: row wrap
    justify-content space-between

  &__checkbox
    margin 3px 0px

  &__content
    width 80%
    margin 0

  &__keyword
    outline #ffffff00
    border 0px
  
  &__buttons
    display inline-block

  &__button
    margin-right 5px

  p
    margin-left 15px